<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SampleUSBAudioPlugin</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.MySoftwareCompany.driver.SampleUSBAudioPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SampleUSBAudioInputStreamPlugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MySoftwareCompany.driver.SampleUSBAudioPlugin</string>
			<key>IOClass</key>
			<string>com_MySoftwareCompany_driver_SampleUSBAudioPlugin</string>
			<key>IOMatchCategory</key>
			<string>USBAudioPlugin</string>
			<key>IOProviderClass</key>
			<string>AppleUSBAudioStream</string>
			<key>IOAudioStreamDirection</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>1967</integer>
			<key>idVendor</key>
			<integer>1917</integer>
		</dict>
		<key>SampleUSBAudioOutputStreamPlugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MySoftwareCompany.driver.SampleUSBAudioPlugin</string>
			<key>IOClass</key>
			<string>com_MySoftwareCompany_driver_SampleUSBAudioPlugin</string>
			<key>IOMatchCategory</key>
			<string>USBAudioPlugin</string>
			<key>IOProviderClass</key>
			<string>AppleUSBAudioStream</string>
			<key>IOAudioStreamDirection</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1967</integer>
			<key>idVendor</key>
			<integer>1917</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b3</string>
		<key>com.apple.driver.AppleUSBAudio</key>
		<string>2.6.4b10</string>
	</dict>
</dict>
</plist>
